<app-page-nav-bar (searchText)="getData($event)" [fromPage]="'userPage'"></app-page-nav-bar>
<div class="container">
    <div class="row">
        <div *ngFor="let data of userDataList" class="card">
            <div class="card-body">
                <table class="table">
                    <thead class="col-6">
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Website</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="col-6">
                      <tr>
                        <td >{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.phone}}</td>
                        <td>{{data.website}}</td>
                        <td><button type="button" class="btn btn-primary" (click)="goToPost(data)">Post</button></td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
           
          </div>
    </div>
</div>

