<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Hello {{userName}}</a>
    <form [formGroup]="searchForm" class="form-inline">
        <div *ngIf="(fromPage!=='postPage')">
            <input class="form-control mr-sm-2" formControlName="search" type="text" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearch()">Search</button>
        </div>
      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </nav>